html,
body {
  margin: 0;
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #7700ee;
  color: #fff;
  overflow-x: hidden;
}
.full-size {
  min-height: 100vh;
  display: flex;
}
